---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Step 1" subheading="REQUESTOR INFORMATION">
    <div>
        <h1>Begin</h1>    
    </div>
</DefaultLayout>