@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Libre+Franklin:wght@300&display=swap');

$title-font: 'Cormorant SC', serif;
$body-font: 'Libre Franklin', sans-serif;
$subheading-font: 'Alegreya Sans SC', sans-serif;
