---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const pageTitle = 'Supplier Nomination Form'
---

<DefaultLayout title={pageTitle}>
	<h1 class="mb-24">Hello World</h1>
</DefaultLayout>