---
interface Props {
    title: string
}

const { title } = Astro.props as Props

---

<select class="select select-bordered w-full max-w-xs">
    <option disabled selected>{title}</option>
    <option>Bits, Scrapers, Hole Openers, Stabilizers</option>
    <option>Casing Running Services &amp; Torque Turn Services</option>
    <option>Casing Running Services &amp; Torque Turn Services</option>
    <option>Cementing Services </option>
    <option>Coil Tubing</option>
    <option>Communication Equipment</option>
    <option>Completion Fluids &amp; Chemicals</option>
    <option>Completion Tools - Packers, Frac Plugs, Bridge Plugs, Tools</option>
    <option>Completions - Other Services</option>
    <option>Compression</option>
    <option>Consulting Services (Onsite) </option>
    <option>Contract Labor / Roustabout Services</option>
    <option>Contract Labor Support - Downhole</option>
    <option>Contract Labor Support - Surface</option>
    <option>Coring and Core Analysis</option>
    <option>Directional Drilling, MWD/LWD, Mud Motors</option>
    <option>Drilling - Other Services</option>
    <option>Drilling Chemicals</option>
    <option>Earthwork - Pad &amp; Road Construction</option>
    <option>Electrical Construction - Powerlines, Substations, etc.</option>
    <option>Electrical Materials &amp; Equipment</option>
    <option>Electrical Utility</option>
    <option>Environmental Services - Spill Containment / Remediation</option>
    <option>ESP Equipment &amp; Services</option>
    <option>Excavation - Boring</option>
    <option>Excavation - Pipeline Construction</option>
    <option>Excavation – Hydrovac</option>
    <option>Expandable Casing &amp; Services</option>
    <option>Facilities Construction</option>
    <option>Fishing Tools and Services &amp; Whipstocks </option>
    <option>Fuel - Diesel, Propane and Lubricants</option>
    <option>Geological and Seismic Acquisition &amp; Processing</option>
    <option>H2S Detection Equipment &amp; SCBA / Air systems</option>
    <option>Inspection</option>
    <option>IT - Services / Hardware / Software</option>
    <option>MRO / Valves / Flanges / Fittings</option>
    <option>Mud Logging</option>
    <option>Mud, Mud Chemicals &amp; Mud Services</option>
    <option>Nitrogen Pumping Services</option>
    <option>OCTG - Casing / Tubing</option>
    <option>OCTG - Casing Accessories &amp; Float Equipment</option>
    <option>OCTG - Coatings</option>
    <option>OCTG - Line Pipe</option>
    <option>OCTG - Sucker Rods</option>
    <option>Office Administration</option>
    <option>Office Maintenance</option>
    <option>Office Supplies</option>
    <option>Production - Other Services</option>
    <option>Production Chemicals</option>
    <option>Production Equipment - Instrumentation / Automation / SCADA</option>
    <option>Production Equipment - Rods / Rod Pumps /Pumping Units</option>
    <option>Production Equipment - Surface Pumps</option>
    <option>Production Equipment - Tanks, Vessels, Flares, VRU&#39;s, etc.</option>
    <option>Professional Services - Engineering</option>
    <option>Professional Services - Surveying, Legal, etc.</option>
    <option>Rentals - Accommodations</option>
    <option>Rentals - Completions Equipment</option>
    <option>Rentals - Cranes, Manlifts, Forklifts</option>
    <option>Rentals - Drilling Tools</option>
    <option>Rentals - Frac Tanks</option>
    <option>Rentals - Frac Tree/ Frac Stacks/Frac Valves/ Frac String </option>
    <option>Rentals - Gensets</option>
    <option>Rentals - Rig Equipment </option>
    <option>Rentals - Waste Disposal</option>
    <option>Rig Moving</option>
    <option>Rigs - Drilling</option>
    <option>Rigs - Workover / Completion</option>
    <option>Safety - Supplies &amp; Consulting</option>
    <option>Salt Water Disposal (SWD)</option>
    <option>SCADA / Instrumentation / Automation Services</option>
    <option>Seismic Acquistion &amp; Processing</option>
    <option>Solids Control</option>
    <option>Stimulation - Well Fracturing, Acidizing</option>
    <option>Trucking -  Fresh Water</option>
    <option>Trucking - Freight / Hot Shot</option>
    <option>Trucking - Waste / Produced Water</option>
    <option>Trucking – Winch Trucks</option>
    <option>Vehicle Maintenance</option>
    <option>Waste Disposal</option>
    <option>Water Purchases  / Treatment                     </option>
    <option>Welding</option>
    <option>Well Testing &amp; Flowback</option>
    <option>Wellhead Equipment &amp; Services</option>
    <option>Wireline Services - Cased Hole including Slickline</option>
    <option>Wireline Services - Open Hole</option>
</select>