---
import Logo from "./Logo.astro";
import NavTitle from "./NavTitle.astro";
---

<nav style="background-color: hsla(226, 68%, 50%, 82%);">
    <div class="navbar flex flex-row text-white text-justify justify-between py-3">
            <Logo />
            <NavTitle />
            <Logo />
    </div>
</nav>