---
interface Props {
    subheading?: string
}

const { subheading = 'Supplier Nomination Form' } = Astro.props as Props

const href = "https://surgeenergya.sharepoint.com/sites/Surge/Departments/Supply%20Chain"
---

<style>
    div {
        height: 100%;
        max-height: 92px;
    }
</style>

<div class="flex flex-col">
    <a
        href={href}
        class="btn btn-ghost normal-case w-full text-3xl"
    target="_blank"
    >Supply Chain SharePoint</a>
    <h1 class="text-xl font-thin hidden md:block">
        { subheading }
    </h1>
</div>