---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import FormPlugin from '../../layouts/FormPluginLayout.astro';
import Form from "./Form.svelte";

const title = "Requestor Information"
const buttonHeading = "Select A Requestor"
---

<DefaultLayout title={title} subheading={title.toUpperCase()}>
    <FormPlugin subheading={title}></FormPlugin>
    
    <div>
        <Form buttonHeading={buttonHeading} client:load />
        <div class="btn-group w-full flex pt-8 justify-around">
            <a href="/" class="btn btn-outline px-24">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--material-symbols" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m10.875 19.3l-6.6-6.6q-.15-.15-.213-.325Q4 12.2 4 12t.062-.375q.063-.175.213-.325l6.6-6.6q.275-.275.687-.288q.413-.012.713.288q.3.275.313.687q.012.413-.288.713L7.4 11h11.175q.425 0 .713.287q.287.288.287.713t-.287.712Q19 13 18.575 13H7.4l4.9 4.9q.275.275.288.7q.012.425-.288.7q-.275.3-.7.3q-.425 0-.725-.3Z"></path></svg>
                Home
            </a>
            <a href="/supplier" class="btn btn-outline">Supplier Information 
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--material-symbols" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"></path></svg>
            </a>
        </div>
        <div class="pt-12 hidden lg:block">
            <ul class="steps">
                <li class="step step-primary">Get Started</li>
                <li class="step step-primary">Requestor Information</li>
                <li class="step">Supplier Information</li>
                <li class="step">Scope Information</li>
                <li class="step">Reason for Nomination</li>
                <li class="step">Supplier Affiliation</li>
                <li class="step">Submit</li>
            </ul>
        </div>
    </div>
    
</DefaultLayout>